/* global.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    font-family: Helvetica, Arial, sans-serif;
}

.highlights-section {
    margin: 40px 0 0 0;
}

.artists-section {
    margin: 40px 0 0 0;
}

.page {
    margin: 1% 1% 0 1%;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 0.5rem;
    margin-top: 2%; /* Account for fixed navbar height */
    flex: 1;
    overflow: hidden;
}

.homepage {
    margin: 20px;
}

.link-clean {
    text-decoration: none;
    color: inherit;
}

.picture-link-clean {
    text-decoration: none;
    color: inherit;
    line-height: 0;
    display: flex;
    gap: 1rem;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}