
.homepage-scroller-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.homepage-scroller {
    display: flex;
    gap: 16px;
    width: max-content;
    animation: scroll 40s linear infinite;
}

.homepage-scroller-img,
.homepage-scroller-img-placeholder {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    object-fit: cover;
    object-position: center;
}

.homepage-scroller-img-placeholder {
    background-color: #f5f5f5;
}

.homepage-scroller-img:hover {
    transform: scale(1.1);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
