.small-tourCard-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 0.5rem;
    justify-content: flex-start;
}

.small-tourCard-class {
    width: 170px;
    height: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.small-tourCard-image {
    width: 170px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.small-tourCard-info {
    padding: 8px;
    text-align: center;
    width: 100%;
}

.small-tourCard-title {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}

.small-tourCard-link {
    font-size: 14px;
    color: #2563eb;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
}

.small-tourCard-link:hover {
    color: #1e40af;
}